* {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

/* Header shtuff */


/* Main app content */
.content {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    background-color: #1d1d1d;
    border-left: solid 2px #2d2d2d;
    border-right: solid 2px #2d2d2d;
    overflow: hidden;
}



/* Footer shtuff */

