* {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

/* Header shtuff */


/* Main app content */
.content {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    background-color: #1d1d1d;
    border-left: solid 2px #2d2d2d;
    border-right: solid 2px #2d2d2d;
    overflow: hidden;
}



/* Footer shtuff */

/* Popper */
:root {
    --popper-theme-background-color: #333333;
    --popper-theme-background-color-hover: #333333;
    --popper-theme-text-color: #ffffff;
    --popper-theme-border-width: 0px;
    --popper-theme-border-style: solid;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: 8px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
  }
  